@import "tailwindcss";

/* Reset global */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(-8px);
  }

  40%,
  80% {
    transform: translateX(8px);
  }
}

.error-shake {
  animation: shake 0.4s ease-in-out;
  border-color: #f87171 !important;
  /* rojo claro */
  box-shadow: 0 0 10px #fca5a5;
}